{% extends 'core/rol/base.html' %}

{% block breadcrumb %}
    <li><a href="{% url 'rol-index' %}">Roles</a></li>
    <li class="active">{{ rol }}</li>
{% endblock %}

{% block inside_content %}
    <h3>Permisos: </h3>
    <ul>
    {% for p in rol.permissions.all %}
        <li>{{ p.name }}</li>
    {% endfor %}
    </ul>
    <div>
        {% if perms.auth.change_group %}<p><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-edit"></span></a></p>{% endif %}
        {% if perms.auth.delete_group %}<p><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></a></p>{% endif %}
    </div>
{% endblock %}