{% extends 'core/base_table.html' %}
{% block titulo_pestana %}Flujos{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'projects-index' %}">Proyectos</a></li>
    <li><a href="{{ view.project.get_absolute_url }}">{{ view.project }}</a></li>
    <li class="active">Flujos</li>
{% endblock %}

{% block before_table %}
    <h4><strong>Proyecto: </strong><td>{{ view.project }}</td></h4>
    {% if "create_flujo" in proyecto_perms %}<p><a href="{% url 'flujo_create' view.project.id %}" class="fa fa-plus-circle"> Agregar</a></p>{% endif %}
{#    {% if "create_flujo" in proyecto_perms %}<p><a href="#" class="fa fa-clipboard"> Crear desde plantilla</a></p>{% endif %}#}
{% endblock %}

{% block thead %}
    <tr>
        <th>Nombre</th>
        <th>Actividades</th>
        <th>Ver</th>
        {% if "edit_flujo" in proyecto_perms %}<th>Editar</th>{% endif %}
        {% if "remove_flujo" in proyecto_perms %}<th>Eliminar</th>{% endif %}
    </tr>
{% endblock %}

{% block tbody %}
    {% for f in flujos %}
    <tr class="odd gradeX">
        <td>{{ f.nombre }}</td>
        <td>{{ f.actividad_set.count }}</td>
        <td ><a href="{% url 'flujo_detail' f.id %}"><span class="glyphicon glyphicon-eye-open"></span></a> </td>
        {% if "edit_flujo" in proyecto_perms %}<td><a href="{% url 'flujo_update' f.id %}"><span class="glyphicon glyphicon-edit"></span></a></td>{% endif %}
        {% if "remove_flujo" in proyecto_perms %}<td><a href="{% url 'flujo_delete' f.id %}"><span class="glyphicon glyphicon-trash"></span></a></td>{% endif %}
    </tr>
    {% endfor %}
{% endblock %}

{% block after_table %}
     <div class="col-lg-12">
    <p><a class="fa fa-file" href="#"> Volver al Proyecto {{ view.project }}</a></p>
    </div>
{% endblock %}