{% extends 'authentication/base.html' %}

{% block authentication_content %}
    {% if validlink %}
        <p>Ingrese su nuevo password dos veces para verificar que lo escribio correctamente</p>

        <form action="" method="post">{% csrf_token %}
            {{ form.new_password1.errors }}
            <p class="aligned wide">
                <label for="id_new_password1">Password nuevo: </label>{{ form.new_password1 }}
            </p>
            {{ form.new_password2.errors }}
            <p class="aligned wide">
                <label for="id_new_password2">Confirmar password:</label>{{ form.new_password2 }}
            </p>
            <p><input type="submit" value="Cambiar mi password" class="btn btn-lg btn-primary btn-block"/></p>
        </form>

    {% else %}
        <p>El link es invalido, posiblemente ya se ha usado. Vuelva a solicitar el cambio de password.</p>
        <a href="{% url 'login' %}" class="btn btn-lg btn-success btn-block">Login</a>
    {% endif %}
{% endblock %}