{% extends 'authentication/base.html' %}
{% load bootstrap3 %}

{% block titulo_pestana %}Cambiar Password{% endblock %}

{% block titulo %}Cambiar Password{% endblock %}

{% block authentication_content %}
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <p>Por favor ingrese su password antiguo, y luego ingrese su ingrese su nuevo password.</p>
            {% bootstrap_form form layout='inline'%}
            <div class="submit-row">
                <input type="submit" value="Cambiar mi password" class="btn btn-lg btn-success btn-block"/>
            </div>

{#            <script type="text/javascript">document.getElementById("id_old_password").focus();</script>#}
        </div>
    </form>
{% endblock %}