{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block titulo_pestana %}sisgpa{% endblock %}</title>

<link href="{% static 'lumino/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'lumino/css/datepicker3.css' %}" rel="stylesheet">
<link href="{% static 'lumino/css/styles.css' %}" rel="stylesheet">
{% block extra_css %}
    <script src="{% static 'lumino/js/lumino.glyphs.js' %}"></script>
    {% block inside_extracss %}{% endblock %}
{% endblock %}

<!--[if lt IE 9]>
{#<script src="{% static 'lumino/js/html5shiv.min.js' %}"></script>#}
{#<script src="{% static 'lumino/js/respond.min.js' %}"></script>#}
<![endif]-->

</head>

<body>
    {% block content %}
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><span>Sis</span>GPA</a>
                    <ul class="user-menu">
                        <li class="dropdown pull-right">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> {{ request.user }} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
                                <li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>
                                <li><a href="{% url 'logout' %}"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div><!-- /.container-fluid -->
        </nav>

        <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
            <form role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
            <ul class="nav menu">
                <li {% block inicio_activo %}{% endblock %}><a href="{% url 'index-view' %}"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Inicio</a></li>
                <li {% block proyectos_activo %}{% endblock %}><a href="{% url 'projects-index' %}"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Proyectos</a></li>
                <li {% block usuarios_activo %}{% endblock %}><a href="#"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Usuarios</a></li>
                <li {% block roles_activo %}{% endblock %}><a href="#"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Roles</a></li>
                <li {% block plantillas_activo %}{% endblock %}><a href="#"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> Plantillas</a></li>
            {#    <li><a href="panels.html"><svg class="glyph stroked app-window"><use xlink:href="#stroked-app-window"></use></svg> Alerts &amp; Panels</a></li>#}
            {#    <li><a href="icons.html"><svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg> Icons</a></li>#}
            {#    <li class="parent ">#}
            {#        <a href="#">#}
            {#            <span data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg></span> Dropdown#}
            {#        </a>#}
            {#        <ul class="children collapse" id="sub-item-1">#}
            {#            <li>#}
            {#                <a class="" href="#">#}
            {#                    <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 1#}
            {#                </a>#}
            {#            </li>#}
            {#            <li>#}
            {#                <a class="" href="#">#}
            {#                    <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 2#}
            {#                </a>#}
            {#            </li>#}
            {#            <li>#}
            {#                <a class="" href="#">#}
            {#                    <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 3#}
            {#                </a>#}
            {#            </li>#}
            {#        </ul>#}
            {#    </li>#}
            {#    <li role="presentation" class="divider"></li>#}
            {#    <li><a href="login.html"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Login Page</a></li>#}
            </ul>

        </div><!--/.sidebar-->
        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
            {% block breadcrumb %}{% endblock %}
            {% block inside_content %}{% endblock %}
        </div>

    {% endblock %}


	<script src="{% static 'lumino/js/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'lumino/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'lumino/js/chart.min.js' %}"></script>
	<script src="{% static 'lumino/js/chart-data.js' %}"></script>
	<script src="{% static 'lumino/js/easypiechart.js' %}"></script>
	<script src="{% static 'lumino/js/easypiechart-data.js' %}"></script>
	<script src="{% static 'lumino/js/bootstrap-datepicker.js' %}"></script>
    {% block extra_js %}
        <script>
            $('#calendar').datepicker({
            });

            !function ($) {
                $(document).on("click","ul.nav li.parent > a > span.icon", function(){
                    $(this).find('em:first').toggleClass("glyphicon-minus");
                });
                $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
            }(window.jQuery);

            $(window).on('resize', function () {
              if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
            })
            $(window).on('resize', function () {
              if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
            })
        </script>
        {% block inside_extrajs %}{% endblock %}
    {% endblock %}
</body>

</html>