{% extends 'core/us/base.html' %}
{% load guardian_tags %}

{% block breadcrumb %}
    <li><a href="{% url 'projects-index' %}">Proyectos</a></li>
    <li><a href="{% url 'project_detail' userstory.proyecto_id %}">{{ userstory.proyecto }}</a></li>
    <li><a href="{% url 'us_list' userstory.proyecto_id %}">User Stories</a></li>
    <li class="active">{{ userstory }}</li>
{% endblock %}

{% block inside_content %}
    <h1>{{ userstory.nombre | title }}</h1>

    <ul class="list-inline" xmlns="http://www.w3.org/1999/html">
        {% get_obj_perms user for userstory.proyecto as "proyecto_perms" %}
        {% get_obj_perms user for userstory as "us_perms" %}
        {% if "edit_us" in proyecto_perms or 'edit_my_userstory' in us_perms%}<li><a href="{% url 'project:userstory_update'  userstory.id %}" class="fa fa-pencil"> Editar</a></li>{% endif %}
        {% if userstory.estado == 1 %}{# Si el User Story está en curso #}
            {% if "registraractividad_userstory" in proyecto_perms or 'registraractividad_my_userstory' in us_perms %}<li><a href="{% url 'project:userstory_registraractividad'  userstory.id %}" class="fa fa-pencil-square-o"> Registrar Avance</a></li>{% endif %}
            {% if "edit_userstory" in proyecto_perms or 'edit_my_userstory' in us_perms%}<li><a href="{% url 'project:version_list' userstory.id %}" class="fa fa-clock-o"> Historial</a></li>{% endif %}
        {% elif userstory.estado == 2 %}
            {% if "aprobar_userstory" in proyecto_perms %}<li><a href="{% url 'project:userstory_aprobar' userstory.id %}" class="fa fa-check-circle"> Aprobar User Story</a></li>{% endif %}
            {% if "aprobar_userstory" in proyecto_perms %}<li><a href="{% url 'project:userstory_rechazar' userstory.id %}" class="fa fa-times-circle"> Rechazar User Story</a></li>{% endif %}
        {% endif %}
        {% if "remove_userstory" in proyecto_perms %}<li><a href="{% url 'project:userstory_delete'  userstory.id %}" class="fa fa-eraser"> Borrar</a></li>{% endif %}

        <li><a href="{% url 'project:nota_list' userstory.id %}"><i class="fa fa-newspaper-o"></i> Avances</a></li>
        <li><a href="{% url 'project:file_list' userstory.id %}"><i class="fa fa-file"></i> Adjuntos</a></li>
        {%  if userstory.estado != 4 and userstory.estado != 3 %}
        {% if "cancelar_userstory" in proyecto_perms %}<li><a href="{% url 'project:userstory_cancelar' userstory.id %}" class="fa fa-times"> Cancelar</a></li> {% endif %}
        {% endif %}
    </ul>
    <p><strong>Proyecto Asociado:</strong> {{ userstory.proyecto }}</p>
    <div class="row">
        <div class="col-lg-6">
            <div class="well">
                <p><strong>Nombre: </strong>{{ userstory.nombre }}</p>
                <p><strong>Estado del User Story: </strong>{{ userstory.get_estado_display }}</p>
                <p><strong>Prioridad: </strong>{{ userstory.get_prioridad_display }}</p>
                <p><strong>Valor de negocio: </strong>{{ userstory.valor_negocio }}</p>
                <p><strong>Valor Técnico: </strong>{{ userstory.valor_tecnico }}</p>
                <p><strong>Último cambio: </strong>{{ userstory.ultimo_cambio }}</p>
                {% if userstory.desarrollador %}<p><strong>Asignado a: </strong><a href="{% url 'project:user_detail' userstory.desarrollador.id %}">{{ userstory.desarrollador }}</a>{% endif %}
                {% if userstory.actividad %}<p><strong>Flujo: </strong><a href="{% url 'project:flujo_detail' userstory.actividad.flujo.id %}"> {{ userstory.actividad.flujo }} </a>| <strong>Actividad: </strong>{{ userstory.actividad }} | <strong>Estado: </strong>{{ userstory.get_estado_actividad_display }} {% endif %}
                {% if userstory.sprint %}<p><strong>Último Sprint: </strong><a href="{% url 'project:sprint_detail' userstory.sprint.id %}">{{ userstory.sprint }} </a>{% endif %}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="well well-sm">
                    <h4>Descripción</h4>
                    <p>{{ userstory.descripcion }}</p>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="fa fa-clock-o"> Tiempos</span>
                    </div>
                    <div class="panel-body">
                        <p><strong>Tiempo Estimado (horas): </strong>{{ userstory.tiempo_estimado }}</p>
                        <p><strong>Tiempo registrado (horas): </strong>{{ userstory.tiempo_registrado }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p><a class="fa fa-step-backward" href="{% url 'project:product_backlog' userstory.proyecto.id %}"> Volver a User Stories</a></p>
    <p><a class="fa fa-file" href="{% url 'project:project_detail' userstory.proyecto.id %}"> Volver al Proyecto {{ userstory.proyecto.nombre_corto }}</a></p>
{% endblock %}