{% extends "core/us/base.html" %}
{% load bootstrap3 %}
{% load guardian_tags %}

{% block breadcrumb %}
    <li><a href="{% url 'projects-index' %}">Proyectos</a></li>
    {% if current_action == "Crear" %}
        <li><a href="{% url 'project_detail' view.proyecto.id %}">{{ view.proyecto}}</a></li>
        <li><a href="{% url 'us_list' view.proyecto.id %}">User Stories</a></li>
    {% else %}
        <li><a href="{% url 'project_detail' userstory.proyecto_id %}">{{ userstory.proyecto }}</a></li>
        <li><a href="{% url 'us_list' userstory.proyecto_id %}">User Stories</a></li>
        <li><a href="{% url 'us_detail' userstory.id %}">{{ userstory }}</a></li>
    {% endif %}
    <li class="active">{{ current_action }}</li>
{% endblock %}

{% block inside_content %}
    <h1>{{ current_action }} User Story </h1>
    <form action="" method="post">
        {% csrf_token %}
            <div class="row">
            <div class="col-lg-12">{% bootstrap_field form.nombre layout='horizontal' %}</div>
            <div class="col-lg-12">{% bootstrap_field form.descripcion layout='horizontal' %}</div>
            </div>
            <div class="row">
                {% if form.prioridad %}<div class="col-lg-3">{% bootstrap_field form.prioridad layout='horizontal' %}</div>{% endif %}
                <div class="col-lg-3">{% bootstrap_field form.valor_negocio layout='horizontal' %}</div>
                <div class="col-lg-3">{% bootstrap_field form.valor_tecnico layout='horizontal' %}</div>
                <div class="col-lg-3">{% bootstrap_field form.tiempo_estimado layout='horizontal' %}</div>
            </div>
        <div class="row">
        {% buttons submit='Guardar' reset="Reset" %}
            <a href="javascript:history.back()">
                <button type="button" class="btn btn-danger">Cancelar</button>
            </a>
        {% endbuttons %}
        </div>
    </form>

{% endblock %}