{% extends 'core/projects/base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block breadcrumb %}
    <li><a href="{% url 'projects-index' %}">Proyecto</a></li>
    <li class="active">Formulario</li>
{% endblock %}

{% block inside_extrajs %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.teammember').formset({
                prefix: '{{ formset.prefix }}',
                addText: 'Agregar miembro',
                deleteText: 'Eliminar'
            });
        })
    </script>
{% endblock %}

{% block inside_content %}
     <div class="col-lg-15">
				<h1 class="page-header">Creacion de Proyecto</h1>
        </div>

    <form role="form" method="post">
        {% csrf_token %}
        <div class="row">
            {{ form.non_field_errors }}
            <div class="col-lg-6">
                {% bootstrap_field form.nombre_corto %}
                {% bootstrap_field form.nombre_largo %}
                {% bootstrap_field form.fecha_inicio %}
                {% bootstrap_field form.fecha_fin %}
            </div>
            <div class="col-lg-6">
                {% bootstrap_field form.descripcion %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3 id="equipo">Miembros del Equipo</h3>
                {{ formset.management_form }}
                <div class="row top-buffer team-members">
                    {% bootstrap_formset_errors formset %}
                    {% for subform in formset %}
                        {% bootstrap_form_errors subform %}
                        {{ subform.id }}
                        <div class="teammember" id="teammember-{{ forloop.counter0 }}">
                            {% if subform.instance.pk %}{% bootstrap_field subform.DELETE %}{% endif %}
                            {% bootstrap_field subform.usuario %}
                            {% bootstrap_field subform.roles %}
                        </div>
                    {% endfor %}
                </div>

            </div>

        </div>

        {% buttons submit='Guardar' reset="Reset" %}
            <a href="javascript:history.back()">
                <button type="button" class="btn btn-danger">Cancelar</button>
            </a>
        {% endbuttons %}
    </form>
{% endblock %}