{% extends 'core/base_table.html' %}
{% load guardian_tags %}

{% block titulo_pestana %}Proyectos{% endblock %}

{% block proyectos_activo %}class="active"{% endblock %}


{% block before_table %}
    {% if perms.core.add_proyecto %}
        <ul class="list-inline">
            <li><a href="{% url 'project_create' %}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
        </ul>
    {% endif %}

{% endblock %}


{% block thead %}
    <th>nombre corto</th>
    <th>nombre largo</th>
    <th>estado</th>
    <th>inicio</th>
    <th>fin</th>
    <th></th>
{% endblock %}

{% block tbody %}
    {% for p in projects %}
        {% get_obj_perms user for p as 'project_perms' %}
        <tr>
            <td>{{ p.nombre_corto|title }}</td>
            <td>{{ p.nombre_largo|title }}</td>
            <td>{{ p.get_estado_display }}</td>
            <td>{{ p.fecha_inicio|date:"SHORT_DATE_FORMAT" }}</td>
            <td>{{ p.fecha_fin|date:"SHORT_DATE_FORMAT" }}</td>
            <td>
                <div class="btn-group" role="group" aria-label="...">
                    {% if 'view_project' in project_perms %}
                        <a href="{% url 'project_detail' p.id %}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                    {% else %}
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    {% endif %}
                    {% if 'change_proyecto' in project_perms %}
                        <a href="#"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                    {% else %}
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    {% endif %}
                    {% if 'delete_proyecto' in project_perms %}
                        <a href="#"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                    {% else %}
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    {% endif %}
                </div>
            </td>
        </tr>

    {% endfor %}
{% endblock %}

{% block breadcrumb %}<li class="active">Proyecto</li>{% endblock %}